@keyframes bloops {
  0%,
  40% {
    padding-inline: var(--basis-padding);
    opacity: 0.25;
    translate: 0 calc(var(--basis-padding) / -1);
  }

  60%,
  90% {
    translate: 0 0;
    padding-inline: 0;
    opacity: 1;
  }
}

footer {
  font-size: 0.75em;
  bottom: 0;
  right: 0;
  left: 0;
  color: #000;

  @media (orientation: landscape) {
    position: sticky;
  }

  &:hover {
    opacity: 1 !important;
  }

  animation-timeline: scroll(root);
  animation-name: bloops;
  animation-duration: auto;
  animation-timing-function: linear;
  transition: all 1ms ease-in;

  .footer-actual {
    padding-inline: 1px;
    margin-inline: -1px;

    & > a {
      color: inherit;
      background: transparent;
      box-shadow:
        inset 0 0 0 0 var(--color-accent),
        inset 0 20vh 0 0 white;
    }

    & > a:hover {
      color: #fff;
      transition: 0.25s;
      transition-property: box-shadow;
      box-shadow:
        inset 0 -20vh 0 0 var(--color-accent),
        inset 0 20vh 0 0 white;
    }
  }

  .header-scream {
    gap: 0.5em;

    small {
      color: hsl(from currentcolor h s l / 50%);
    }

    span {
      text-decoration: underline;
      text-decoration-style: wavy;
      text-decoration-thickness: 2px;
      text-decoration-color: hsl(from currentcolor h s l / 25%);
    }
  }

  svg {
    height: 0.5em;
  }

  svg + span {
    margin-inline-start: 1em;
  }
}
