@import "/src/css/vars.css";

* {
  font-size: 1em;
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 300;
  text-decoration: none;
  backface-visibility: hidden;
}

:root {
  --color-highlight: var(--color-accent);
  --color-text: #000;
  --color-bg: #fff;

  --basis-header-link-pill-padding-h: calc(var(--basis) * 0.5);
  --basis-padding: calc(var(--basis-header-link-pill-padding-h) + 2px);
  --basis-header-sp: calc(var(--basis) * 0.75);

  background-color: var(--color-bg);
  color: var(--color-text);
}

body {
  &:before {
    content: "hey";
    width: 100%;
    height: calc(var(--basis) / 2);
    background: var(--color-flood);
    z-index: 20;
    position: relative;
    display: block;
    background: url("../css/gli.gif") 0 / cover,
      url("../css/gli.jpg") center / cover;
    background-blend-mode: color-dodge;
  }
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: calc(var(--basis) * 0.25);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  box-sizing: border-box;
  mix-blend-mode: exclusion;

  &:hover a {
    backdrop-filter: blur(var(--basis));
  }
  a {
    font-size: 1rem;
    padding: calc(var(--basis) * 0.25) var(--basis-header-link-pill-padding-h);
    border-radius: 100vmax;
    border: 2px solid hsl(0, 0%, 25%);
    color: #fff;
    display: block;
    transition-duration: 0.2s;
    transition-property: background, color;

    &:hover {
      background: #fff;
      color: #000;
    }
  }
}

.article-wrapper {
  z-index: 9;
  padding-top: calc(var(--basis) * 4);
  margin-top: calc(var(--basis) * -4);
  padding-bottom: 9px;
  overflow: hidden;
  display: block;
  padding-left: calc(var(--basis) * 0.25);
  padding-right: calc(var(--basis) * 0.25);
}

.article-zone {
  display: block;
}

article {
  max-width: calc(var(--basis) * 14);
  margin: 0 auto 20px;
  padding: var(--basis-padding);
  line-height: 1.4;

  date {
    display: block;
    font-size: 0.75rem;
    opacity: 0.75;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  p,
  ul,
  ol,
  pre {
    margin-bottom: 1rem;
  }

  a {
    color: var(--color-highlight);
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-style: wavy;
    text-decoration-color: hsl(from var(--color-highlight) h s l / 50%);
  }

  del {
    text-decoration: line-through;
    text-decoration-thickness: 3px;
  }

  h1 {
    font-weight: 600;
    margin-bottom: var(--basis-header-sp);
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  pre {
    background: hsl(from var(--color-text) h s l / 5%);
    border-radius: calc(var(--basis) * 0.25);
    padding: calc(var(--basis) * 0.25);
    margin-left: calc(var(--basis) * -0.25);
    margin-right: calc(var(--basis) * -0.25);
    overflow-x: auto;
  }

  ol,
  ul {
    padding-left: calc(var(--basis) * 0.5);
  }
  li {
    list-style-position: outside;
    display: list-item;
    margin-bottom: 0.25em;
  }
  ol li {
    list-style-type: decimal;
  }
  ul li {
    list-style-type: disc;
  }
}
