@import "/src/css/css.css";

:root {
  background-color: #fff;
  color: #000;
  --header-link-pill-padding-h: calc(var(--basis) * 0.5);
  --color-highlight: var(--color-accent);
}

body {
  &:before {
    content: "hey";
    width: 100%;
    height: calc(var(--basis) / 2);
    background: var(--color-flood);
    z-index: 20;
    position: relative;
    display: block;
    background: url("../css/gli.gif") 0 / cover,
      url("../css/gli.jpg") center / cover;
    background-blend-mode: color-dodge;
  }
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: calc(var(--basis) * 0.25);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  box-sizing: border-box;
  mix-blend-mode: exclusion;

  &:hover a {
    backdrop-filter: blur(var(--basis));
  }
  a {
    font-size: 1rem;
    padding: calc(var(--basis) * 0.25) var(--header-link-pill-padding-h);
    border-radius: 100vmax;
    border: 2px solid hsl(0, 0%, 25%);
    color: #fff;
    display: block;
    transition-duration: 0.2s;
    transition-property: background, color;

    &:hover {
      background: #fff;
      color: #000;
    }
  }
}

.article-wrapper {
  z-index: 9;
  padding-top: calc(var(--basis) * 4);
  margin-top: calc(var(--basis) * -4);
  padding-bottom: 9px;
  overflow: hidden;
  display: block;
  padding-left: calc(var(--basis) * 0.25);
  padding-right: calc(var(--basis) * 0.25);
}

article {
  --padding: calc(var(--header-link-pill-padding-h) + 2px);
  max-width: calc(var(--basis) * 14);
  margin: 0 auto 20px;
  padding: var(--padding) var(--padding) calc(var(--basis) * 1);
  line-height: 1.4;

  date {
    display: block;
    font-size: 0.75rem;
    opacity: 0.75;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  & > * {
    margin-bottom: 1rem;
  }

  a {
    color: var(--color-highlight);
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-style: wavy;
    text-decoration-color: hsl(from var(--color-highlight) h s l / 50%);
  }

  del {
    text-decoration: line-through;
    text-decoration-thickness: 3px;
  }

  & > h1,
  & > h2,
  & > h3,
  & > h4,
  & > h5,
  & > h6 {
    font-weight: 600;
    margin-top: 2rem;
    &:nth-child(2) {
      margin-top: 0;
    }
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }
}
