@import url(http://fonts.googleapis.com/css?family=Finger+Paint|Roboto:300);

* {
	cursor: url('raptor.cur'), default;
}

html {
	height: 100%;
	overflow: scroll;
	background: #34138d;
	background-image: url(bg.gif), url(data:image/jpeg;base64,/9j/4QAYRXhpZgAASUkqAAgAAAAAAAAAAAAAAP/sABFEdWNreQABAAQAAAAAAAD/7gAhQWRvYmUAZMAAAAABAwAQAwIDBgAAAbsAAAIMAAACL//bAIQAGxoaKR0pQSYmQUIvLy9CRz8+Pj9HR0dHR0dHR0dHR0dHR0dHR0dHR0dHR0dHR0dHR0dHR0dHR0dHR0dHR0dHRwEdKSk0JjQ/KCg/Rz81P0dHR0dHR0dHR0dHR0dHR0dHR0dHR0dHR0dHR0dHR0dHR0dHR0dHR0dHR0dHR0dHR0dH/8IAEQgASwBkAwEiAAIRAQMRAf/EAG8AAQEBAQAAAAAAAAAAAAAAAAEAAgUBAQEBAQAAAAAAAAAAAAAAAAABAgUQAAICAwADAQEAAAAAAAAAAAAREAEgIRIwUEExAhEAAwAAAAAAAAAAAAAAAAAAQGAxEgEAAAAAAAAAAAAAAAAAAABQ/9oADAMBAAIRAxEAAADgo9DVENBUgoMBqzCkVQVA0OsaEIYitRh0BESaA0mLYZtRWoyagNBneU0EExVGnKMUVVMMQhCURH//2gAIAQIAAQUA9H//2gAIAQMAAQUA9H//2gAIAQEAAQUAYxjhCFDHO5ZoRs2bGaNYPGhxdCFQxjh4s6HQzfgQoWCLrBWV/IsGdHR+iFFWMuzo6OoQqORF1KFQqEc+O6EIrD6XP24+/wD/2gAIAQICBj8AD//aAAgBAwIGPwAP/9oACAEBAQY/ABo2f//Z);
	background-position: center center;
	background-size: cover;
}

body {
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 0;
	padding: 7.5% 10% 12.5%;

	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust:none;
	-webkit-user-select: none;
	-webkit-user-drag: none;
	font-smoothing: antialiased;
	text-size-adjust:none;
	user-select: none;
	user-drag: none;
	
	font-family: 'Roboto', sans-serif;
	font-size: 1em;	
	line-height: 1.2;
	text-align: left;
	font-weight:400;
}

a {
	color: inherit;
	text-decoration: none;
    height: 1.25em;
    display: inline-block;
	box-shadow: inset 0 -1px 0 0 rgba(255,255,255,.1);
	-webkit-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}
a:hover {
	color: yellow;
	box-shadow: inset 0 -.075em 0 0 yellow
}

.intro {
	max-width: 1000px;
	font-family: 'Finger Paint', sans-serif;
	line-height: 1.4;
	font-size: 1.5em;
	text-fill-color: transparent;
	border-radius: 2px;
	margin: 0 auto;
	color: #fff;
}
.intro a {
	height: 1.33em;
}
.intro h1 {
	display: block;
	font-size: 1em;
	margin: 0;
	font-weight: 700;
}

.etc {
	color: #b65de8;
	max-width: 1000px;
	margin: 3rem auto 0;
	width: 100%;
}

@media all and (min-width:780px) and (min-height:580px) {
	html {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.intro {
		font-size: 3em;
	}
	.etc {
		font-size: .9em;
	}
}