.link {
	border-radius: 2px;
	display: flex;
	flex-direction: column;
	transition: 0.25s;
	will-change: transform;
	contain: content;
	color: var(--pink);
	overflow: hidden;
	padding: 1em;
	margin: 0 -1em;
}

.root ul li + li .link {
	box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
}

.link span {
	color: #999;
	text-transform: uppercase;
	font-size: 0.75rem;
	margin-top: 0.5em;
	letter-spacing: 0.05em;
	font-weight: 400;
}

.link strong {
	font-size: 2.5em;
	font-weight: 900;
	line-height: 0.9;
	margin-left: -0.05em;
}

.link strong:after {
	content: '➜';
	font-size: 0.5em;
	font-weight: 100;
	margin-left: 0.1em;
	will-change: transform;
	transform: translateX(0);
	transition: 0.25s;
}

.root .link:hover,
.root .link:focus {
	box-shadow: inset 0 100px 0 rgba(0, 0, 0, 0.05);
	z-index: 10;
}

.link:hover strong:after,
.link:focus strong:after {
	transform: translateX(0.125em);
}
