.bg {
  z-index: 9;
  opacity: 0.2;
}

.underbg {
  z-index: 8;
  background: linear-gradient(to bottom right, var(--bg-dark), var(--bg));
  transform: translateZ(-10em) scale(2);
}

.glitch {
  z-index: 10;
  mix-blend-mode: multiply;
  background: url(./gli.gif);
  background-size: cover;
  z-index: 9;
  opacity: 0.15;
}

.stickers {
  display: none;
  position: absolute;
}

.root,
.root > * {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  will-change: transform;
  contain: strict;
  pointer-events: none;
}
.root {
  perspective: 10000px;
  position: fixed;
}
.root canvas {
  width: 100%;
}
