:root {
  --pink: #c7f464;
  --bg: #556270;
  --bg-dark: #0c1824;
  --fg: #fff;
  --fg-light: rgba(255, 255, 255, 0.5);
  --basis: 3rem;
  --color-text-rgb: 255, 255, 255;
  --color-text-on-contrast-rgb: 0, 0, 0;
  --color-text: rgb(var(--color-text-rgb));
  --color-border: white;
  --color-contrast: white;
  --color-text-on-contrast: rgb(var(--color-text-on-contrast-rgb));

  background-color: var(--bg);
  background: linear-gradient(to bottom right, var(--bg-dark), var(--bg));
  -webkit-font-smoothing: antialiased;
}

* {
  font-size: 1em;
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: normal;
  color: inherit;
  text-decoration: none;
  backface-visibility: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  overflow-x: hidden;
}

x-fg {
  z-index: 20;
  position: relative;
  contain: content;
  overflow: hidden;
  mix-blend-mode: color-dodge;
}

.wrapper {
  margin: auto;
  will-change: transform;
  z-index: 20;
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper > .links {
  flex: 1 1 0;
  color: var(--color-text);
}

.chip {
  background: var(--pink);
  color: var(--bg-dark);
  padding: 0.5em 0.75em;
  display: inline-flex;
  text-transform: uppercase;
  font-size: 1em;
  border-radius: 2px;
  letter-spacing: 1px;
}

.intro {
  color: var(--fg);
  font-size: 2em;
  margin: var(--basis);
}

footer {
  color: var(--color-text-on-contrast);
  font-size: 0.8rem;
  font-weight: 400;
  padding: calc(var(--basis) / 4) var(--basis);
  background-color: var(--color-contrast);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

footer strong {
  font-weight: 700;
}

footer li {
  display: inline-block;
}

footer li:not(:last-child):after {
  content: "·";
  padding: 0 0.25em;
}

footer a {
  text-decoration: underline;
  text-decoration-style: wavy;
  font-weight: 800;
  text-decoration-color: rgb(var(--color-text-on-contrast-rgb), 0.5);
}

footer > a,
footer a:hover,
footer a:focus {
  text-decoration-color: var(--color-text-on-contrast);
}

.intro h1 {
  display: inline;
}

.intro strong,
.intro em {
  color: var(--pink);
  cursor: help;
}

.intro em {
  font-style: normal;
}

.intro s {
  opacity: 0.5;
  white-space: nowrap;
  text-decoration: line-through;
  text-decoration-style: wavy;
  color: var(--pink);
  cursor: help;
}

.links {
  overflow: scroll;
  border: 1px solid var(--color-border);
  border-left: 0;
  border-right: 0;
}

.links ul {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.links li {
  display: contents;
}

.links a {
  padding: var(--basis);
  display: flex;
  justify-content: space-between;
  box-shadow: inset 0 0 0 0 transparent;
  flex-direction: column;
  transition: 0.75s;
  contain: content;
  width: 12rem;
  flex: 0 0 auto;
}

.links ul li + li a {
  border-left: 1px solid var(--color-border);
}

.links a span {
  text-transform: uppercase;
  font-size: .8rem;
  letter-spacing: .2em;
  font-weight: 200;
  opacity: .5
}

.links a strong {
  font-size: 8vh;
  font-weight: 800;
  transform-origin: 0 0;
  transform: translateY(100%) rotate(-90deg);
  height: 10em;
  line-height: 1cap;
}

.links a:hover,
.links a:focus {
  box-shadow: inset 0 -100cqh 0 0 var(--pink);
  color: var(--color-text-on-contrast);
}

x-bg {
  z-index: 9;
  opacity: 0.2;
}

x-underbg {
  z-index: 8;
  background: linear-gradient(to bottom right, var(--bg-dark), var(--bg));
}

x-glitch {
  z-index: 10;
  mix-blend-mode: multiply;
  background: url(gli.gif);
  background-size: cover;
  z-index: 9;
  opacity: 0.15;
}

x-tomfoolery,
x-tomfoolery > * {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  will-change: transform;
  contain: strict;
  pointer-events: none;
}
x-tomfoolery {
  perspective: 10000px;
  position: fixed;
}
x-tomfoolery canvas {
  width: 100%;
}

x-stickers {
  display: none;
  position: absolute;
}
