@import url("https://fonts.googleapis.com/css?family=Rubik:400,500,700&display=swap");

:root {
  --pink: #c7f464;
  --bg: #556270;
  --bg-dark: #0c1824;
  --fg: #fff;
  --fg-light: rgba(255, 255, 255, 0.5);
  -webkit-font-smoothing: antialiased;
}
@media (max-width: 60em) {
  :root {
    font-size: 0.8em;
  }
}

* {
  font-size: 1em;
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: normal;
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Rubik", helvetica, arial, sans-serif;
  line-height: 1.1;
  perspective: 10000px;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  position: fixed;
  overflow: hidden;
  letter-spacing: -0.05em;
  background-color: var(--bg);
  background: linear-gradient(to bottom right, var(--bg-dark), var(--bg));
}

x-fg {
  z-index: 20;
  padding: 10vmin 2em;
  overflow: visible;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  position: fixed;
  overflow: auto;
  overflow-x: hidden;
  display: block;
  contain: content;
}

.wrapper {
  margin: auto;
  max-width: 42em;
  will-change: transform;
}

.chip {
  background: var(--pink);
  color: var(--bg-dark);
  padding: 0.5em 0.75em;
  display: inline-flex;
  text-transform: uppercase;
  font-size: 1em;
  border-radius: 2px;
  letter-spacing: 1px;
}

.intro {
  color: var(--fg);
  font-size: 2em;
  margin: 5vmin 0;
}

@media (min-width: 60em) {
  .intro {
    font-size: 3em;
  }
}

footer {
  color: var(--fg);
  font-size: 1.5em;
  font-weight: 400;
  margin: 10vmin 0 0;
  width: 85%;
}

footer strong {
  font-weight: 700;
}

footer footer {
  font-size: 1rem;
  margin-top: 10vmin;
  display: block;
  width: 100%;
}

footer li {
  display: inline-block;
}

footer li:not(:last-child):after {
  content: "·";
  padding: 0 0.25em;
}

footer a {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: var(--fg-light);
}

footer > a,
footer a:hover {
  color: var(--pink);
  text-decoration-color: var(--pink);
}

.intro strong,
.intro em {
  color: var(--pink);
  cursor: help;
}

.intro strong {
  font-weight: 500;
}

.intro em {
  font-style: normal;
}

.intro s {
  opacity: 0.5;
  white-space: nowrap;
  text-decoration: line-through;
  text-decoration-style: wavy;
  color: var(--pink);
  cursor: help;
}

.links a {
  padding: 0.5em 0.75em;
  display: inline-flex;
  border-radius: 2px;
  background: var(--fg);
  flex-direction: column;
  margin: 1vmin 0;
  transition: 0.25s;
  color: var(--bg);
  box-shadow: inset -4px 0 0 0 var(--pink);
  will-change: transform;
}

.links a span {
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 0.5px;
  font-weight: 400;
}

.links a strong {
  font-size: 3em;
  font-weight: 700;
  line-height: 0.9;
  margin-left: -0.05em;
  color: var(--bg-dark);
}

.links a strong:after {
  content: "➜";
  font-size: 0.8em;
  margin-left: 1em;
}

.links a:hover {
  box-shadow: inset -100vw 0 0 0 var(--pink);
  transform: scale(1.05);
}

.links a:hover strong:after {
  transform: translateX(200px);
}

x-bg {
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  z-index: 9;
  position: fixed;
  opacity: 0.2;
  will-change: transform;
  background: linear-gradient(to bottom right, var(--bg-dark), var(--bg));
  contain: strict;
}

x-underbg {
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  z-index: 8;
  position: fixed;
  background: linear-gradient(to bottom right, var(--bg-dark), var(--bg));
  transform: translateZ(-40em) scale(2);
  contain: strict;
}

x-bg canvas {
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
}

x-glitch {
  z-index: 10;
  mix-blend-mode: multiply;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(gli.gif);
  background-size: cover;
  z-index: 9;
  opacity: 0.15;
  pointer-events: none;
  will-change: transform;
  contain: strict;
}

x-stickers {
  display: none;
}
