@import url("./vars.css");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  background-color: #000;
  color: var(--color-text-over-flood);
  margin: 0 3vmax;

  --color-border: var(--color-border-over-flood);
  --color-text: #000;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: inherit;
  color: inherit;
  text-decoration: none;
  backface-visibility: hidden;
}

.wrapper {
  font-family: Manrope, sans-serif;
  line-height: 1.2;
  font-size: max(1rem, 3vmin);
  max-width: 30em;
  margin: 15vmax auto;
}

.intro {
  * + * {
    margin-top: 7.5vmax;
  }

  h1 {
    display: inline;
    font-size: 3em;
    font-weight: 900;
    letter-spacing: -1%;
  }
}

a {
  text-decoration: wavy underline;
  text-decoration-color: hsl(from currentcolor h s l / 50%);
}

small,
footer {
  display: block;
  color: hsl(from currentcolor h s l / 50%);
  font-weight: 400;
  font-size: 0.5em;
}

.section.section--links {
  font-size: 1rem;
  margin-top: 3.75vmax;

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
    gap: 1rem;
  }
}

.section--links a {
  display: flex;
  text-decoration: none;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 0.1rem;
  color: #000;
  transition: 0.2s ease-out --lol;
  transition-property: transform, rotate;
  background: var(--bg, #c3ff00);

  @media (orientation: landscape) {
    aspect-ratio: 1;
  }

  strong {
    font-size: 2em;
    font-weight: 800;
  }

  &:hover {
    transform: scale(1.1);
    rotate: var(--rota, 1deg);
    background: #fff;
  }
}

.section--links ul > :nth-child(2) {
  --bg: #ff00ae;
  --rota: 2deg;
}

.section--links ul > :nth-child(3) {
  --bg: #006aff;
  --rota: -1deg;
}

.section--links ul > :nth-child(4) {
  --bg: #00ff40;
  --rota: 3deg;
}

.section--links ul > :nth-child(5) {
  --bg: #00eeff;
  --rota: -2deg;
}

.section--links ul > :nth-child(6) {
  --bg: #ff3700;
  --rota: 1.5deg;
}

.section--links ul > :nth-child(7) {
  --bg: #37ff00;
  --rota: -0.5deg;
}

.section--links ul > :nth-child(8) {
  --bg: #ff00a6;
  --rota: 1.25deg;
}
