@import url("./vars.css");

:root {
  background-color: var(--color-flood);
  color: var(--color-text-over-flood);

  --color-border: var(--color-border-over-flood);
  --color-text: #000;
  --basis-home-padding: calc(var(--basis-padding) * 2);
}

@font-face {
  font-family: "Babushka";
  src:
    url("./font/Bab-rg.woff2") format("woff2"),
    url("./font/Bab-rg.woff") format("woff"),
    url("./font/Bab-rg.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Babushka";
  src:
    url("./font/Bab-bold.woff2") format("woff2"),
    url("./font/Bab-bold.woff") format("woff"),
    url("./font/Bab-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  font-size: 1em;
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: inherit;
  color: inherit;
  text-decoration: none;
  backface-visibility: hidden;
}

.screenful {
  padding: calc(4 * var(--basis-padding));
  min-height: calc(90vh - (8 * var(--basis-padding)));
}

.intro {
  font-family: Babushka;
  font-weight: bold;
  line-height: 2;
  letter-spacing: 0.05em;
  font-size: 4vh;

  strong {
    color: var(--color-accent);
  }
}

x-tomfoolery {
  inset: 0;
  position: fixed;
  will-change: transform;
  z-index: 10;
  contain: strict;
  pointer-events: none;
  background:
    linear-gradient(to bottom, hsl(0deg 0 100% / 1%)),
    url("../css/gli.gif") 0 / cover,
    url("../css/gli.jpg") center / cover;
  background-blend-mode: normal, color-dodge;
}

x-fg {
  z-index: 11;
  position: relative;
}
