/* stylelint-disable selector-class-pattern */

:root {
  /* color */
  --color-flood: #0d0e18;
  --color-text-over-flood: white;
  --color-border-over-flood: hsl(
    from var(--color-text-over-flood) h s calc(l / 1.125)
  );
  --color-accent: #ff3573;
  --color-text-over-accent: var(--color-flood);

  /* size */
  --basis: 3rem;
  --basis-padding: min(calc(var(--basis) * 0.5), 5vw);
  --basis-column-min-width: calc(60ch + (2 * var(--basis-padding)));
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-display: swap;
  src: url(./font/Manrope-VariableFont_wght.ttf);
}

/* 
im lazy heres some globals 
*/

body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  overflow-x: hidden;
}

.🧃-glitchbar {
  width: 100%;
  height: calc(var(--basis) / 4);
  z-index: 20;
  display: block;
  position: relative;
  background: #000;
}

.🧃-glitchbox {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: stretch;
  gap: 1px;
  padding: 1px 0;
  color: #000;
  font-smooth: never;

  .🧃-glitchbox-flex {
    flex: 1 1 0;
  }

  & > * {
    display: flex;
    align-items: center;
    padding: calc(var(--basis-padding) * 0.5) var(--basis-padding);
    backface-visibility: hidden;
  }
}

.🧃-text-width {
  min-width: var(--basis-column-min-width);
}
