/* stylelint-disable selector-class-pattern */

:root {
  /* color */
  --color-flood: #060a36;
  --color-text-over-flood: white;
  --color-accent: #ff3573;
  --color-text-over-accent: var(--color-flood);

  /* size */
  --basis: 3rem;
  --basis-padding: min(calc(var(--basis) * 0.5), 5vw);
  --basis-column-min-width: calc(60ch + (2 * var(--basis-padding)));
}

/* 
im lazy heres some globals 
*/

body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  overflow-x: hidden;
}

.🧃-glitchbox {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: stretch;
  gap: 1px;
  background:
    linear-gradient(to bottom, hsl(0 0 100% / 1%)),
    url("../css/gli.gif") 0 / cover,
    url("../css/gli.jpg") center / cover;
  background-blend-mode: normal, color-dodge;
  padding: 1px 0;
  color: #000;
  font-smooth: never;

  .🧃-glitchbox-flex {
    flex: 1 1 0;
  }

  & > * {
    mix-blend-mode: color-dodge;
    display: flex;
    align-items: center;
    padding: calc(var(--basis-padding) * 0.75) var(--basis-padding);
    background: #fff;
    backface-visibility: hidden;
    text-shadow: 0 0.5px 0 0 currentcolor;
  }
}

.🧃-text-width {
  min-width: var(--basis-column-min-width);
}
