:root {
  /* color */
  --color-flood: #060a36;
  --color-text-over-flood: white;
  --color-accent: #ff3573;
  --color-text-over-accent: var(--color-flood);

  /* size */
  --basis: 3rem;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  overflow-x: hidden;
}
