@import url("vars.css");

.widgets {
  margin-top: -1px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
}

.widget {
  --color-widget-text: var(--color-text-over-flood);

  overflow: hidden;
  flex-direction: column;
  align-items: start;
  gap: calc(var(--basis) / 4);
  padding-block: calc(var(--basis) / 2);
  background-color: #696969; /* hehehehehhehehe */
  color: var(--color-widget-text);
  box-shadow: inset 0 0 0 0 hsl(from var(--color-flood) h s l / 20%);

  a {
    color: inherit;
  }

  &:hover {
    --color-widget-text: var(--color-accent);

    mix-blend-mode: normal;
    background-color: hsl(0deg 0 100% / 100%);
  }

  h3 {
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.1em;
    color: hsl(from currentcolor h s calc(l - 20));
    margin-bottom: calc(var(--basis) / 2);
  }

  small {
    color: hsl(from currentcolor h s calc(l - 30));
    font-size: 0.75em;
  }
}

.widget-text-link {
  font-weight: bold;
  color: inherit;
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-thickness: 1px;
  text-decoration-color: hsl(from currentcolor h s l / 50%);
}

.widget-s {
  font-size: 0.75em;
}

.widget-xs {
  font-size: 0.5em;
}

.widget-alpha {
  color: hsl(from currentcolor h s calc(l - 30));
}

.widget-flex {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  gap: 1em;

  & > :last-child {
    text-align: end;
    align-items: end;
  }
}

.widget-rows {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1em;
  flex-direction: column;
  align-items: start;
}

.widget-cols {
  display: flex;
  align-items: start;
  justify-content: stretch;
  flex-direction: row;
  width: 100%;
  gap: 1em;

  > a {
    margin: -1px;
    padding: 1px;
    box-shadow: inset 0 0 0 0 #000;
    transition: box-shadow 0.125s linear;

    &:hover {
      strong {
        text-decoration: wavy;
        text-decoration: underline;
        text-decoration-style: wavy;
        text-decoration-thickness: 1px;
        text-decoration-color: hsl(from currentcolor h s l / 50%);
      }
    }
  }

  .widget-flex,
  .widget-cols {
    flex-direction: column;
    align-items: start;
  }

  & > * {
    flex: 1 1 0;
    overflow: hidden;
  }
}

.widget-big-number {
  font-size: 5em;
  font-weight: 800;
  letter-spacing: -0.05em;
  text-wrap: nowrap;
}

.widget-image {
  width: calc(100% - 2px);
  max-height: calc(var(--basis) * 3);
  aspect-ratio: 1;
  overflow: hidden;
  position: relative;
  border-radius: 1px;
  background: var(--color-text-over-flood);
  border: 1px solid #fff;

  &::before {
    background: var(--img);
    aspect-ratio: 1;
    background-size: cover;
    background-position: center;
    content: "";
    inset: 0;
    position: absolute;
    transform: scale(var(--scale, 1));
  }
}

.widget-lines-1,
.widget-lines-2 {
  height: 1lh;
  text-overflow: ellipsis;
  overflow: hidden;
  display: flex;

  &.widget-lines-2 {
    height: 2lh;
  }
}
