@import "/src/css/vars.css";

* {
  font-size: 1em;
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 300;
  text-decoration: none;
  backface-visibility: hidden;
}

:root {
  --color-highlight: var(--color-accent);
  --color-text: #000;
  --color-bg: #fff;
  --color-flood-inverted: hsl(
    from var(--color-flood) calc(h - 180) s calc(100 - l) / 100%
  );

  --basis-min-width: calc(var(--basis) * 14);
  --basis-padding: min(calc(var(--basis) * 0.5), 5vw);
  --basis-header-sp: calc(var(--basis-padding) * 1.5);
  --basis-header-height: calc(
    (0.75rem + 3rem) * 1.2
  ); /* date + 1 line of heading + a bit higher */

  background-color: var(--color-bg);
  color: var(--color-text);
}

@keyframes bloops {
  0%,
  100% {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid transparent;
  }
  100% {
    background-color: rgba(255, 255, 255, 1);
  }
  2%,
  98% {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0.25);
  }
}

body {
  &:before {
    content: "";
    width: 100%;
    height: calc(var(--basis-padding) / 2);
    background: var(--color-flood);
    z-index: 20;
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    left: 0;
    background: url("../css/gli.gif") 0 / cover,
      url("../css/gli.jpg") center / cover;
    background-blend-mode: color-dodge;
    border-bottom: 1px solid color-mix(in lab, #fff, transparent 50%);
  }

  margin-top: calc(var(--basis-padding) / 2);
  padding-top: min(calc(90vw - var(--basis-min-width)), 60px);
}

header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  box-sizing: border-box;
  pointer-events: none;
  padding: 0;
  height: 0;

  .header-innie {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--basis-padding);
    height: var(--basis-header-height);
  }

  a {
    display: flex;
    height: min(4em, 20vw);
    flex-direction: row;
    align-items: center;
    justify-content: center;
    pointer-events: all;
    font-size: 0.875rem;
    padding: 0 calc(var(--basis-padding) * 0.75);
    margin: calc(var(--basis-padding) * -0.75);
    border-radius: calc(var(--basis) * 1);
    transition-duration: 0.2s;
    transition-property: background, color;
    transition-timing-function: ease-in-out;
    color: var(--color-flood);
    backdrop-filter: blur(10px);
    animation-timeline: scroll(root);
    animation-name: bloops;
    animation-duration: auto;
    animation-timing-function: linear;

    svg {
      height: 0.8em;
    }

    &.header-scream {
      align-items: flex-end;
      flex-direction: column;
      small {
        font-size: 0.75em;
        color: rgba(0, 0, 0, 0.5);
      }
      span {
        text-decoration: underline;
        text-decoration-style: wavy;
        text-decoration-thickness: 2px;
        text-decoration-color: hsl(from currentColor h s l / 50%);
      }
    }

    &:hover {
      background: var(--color-accent) !important;
      color: var(--color-flood);
    }

    &:active {
      transform: scale(1.1);
    }
  }
}

.article-wrapper {
  z-index: 9;
  --small-padding-top: calc(
    var(--basis-header-height) + calc(var(--basis-header-sp))
  );
  --extra: min(
    max(calc(var(--basis-min-width) - 80vw), 0px),
    var(--small-padding-top)
  );
  padding-top: calc(var(--extra) + (var(--basis) * 4));
  margin-top: calc(var(--basis) * -4);
  padding-bottom: 9px;
  overflow: hidden;
  display: block;
}

.article-zone {
  display: block;
}

article {
  max-width: var(--basis-min-width);
  margin: 0 auto 20px;
  padding: 0 var(--basis-padding) var(--basis-padding);
  line-height: 1.4;

  date {
    display: block;
    font-size: 0.75rem;
    opacity: 0.75;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  p,
  ul,
  ol,
  pre {
    margin-bottom: 1rem;
  }

  a {
    color: var(--color-highlight);
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-style: wavy;
    text-decoration-color: hsl(from var(--color-highlight) h s l / 50%);
  }

  del {
    text-decoration: line-through;
    text-decoration-thickness: 3px;
  }

  h1 {
    font-weight: 600;
    margin-bottom: var(--basis-header-sp);
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  pre {
    background: hsl(from var(--color-text) h s l / 5%);
    border-radius: calc(var(--basis) * 0.25);
    padding: calc(var(--basis) * 0.25);
    margin-left: calc(var(--basis) * -0.25);
    margin-right: calc(var(--basis) * -0.25);
    overflow-x: auto;
  }

  ol,
  ul {
    padding-left: calc(var(--basis) * 0.5);
  }
  li {
    list-style-position: outside;
    display: list-item;
    margin-bottom: 0.25em;
  }
  ol li {
    list-style-type: decimal;
  }
  ul li {
    list-style-type: disc;
  }
}
