@import url("vars.css");

* {
  font-size: 1em;
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 300;
  text-decoration: none;
  backface-visibility: hidden;
}

:root {
  --color-highlight: var(--color-accent);
  --color-text: #000;
  --color-bg: #fff;
  --color-flood-inverted: hsl(
    from var(--color-flood) calc(h - 180) s calc(100 - l) / 100%
  );
  --basis-min-width: var(--basis-column-min-width);
  --basis-header-sp: calc(var(--basis-padding) * 2);
  --basis-header-height: calc(
    (0.75rem + 3rem) * 1.2
  ); /* date + 1 line of heading + a bit higher */

  --basis-img-width: 120%;

  background-color: var(--color-bg);
  color: var(--color-text);
}

.article-colophon {
  margin-top: calc(var(--basis-header-sp) * 2);
  font-size: 1.25em;
}

.footer-past {
  margin-top: var(--basis-header-sp);
  text-align: center;
  opacity: 0.5;
  font-size: 0.75em;
}

.article-wrapper {
  z-index: 9;
  padding-top: calc(var(--basis) * 4);
  margin-top: calc(var(--basis) * -4);
  padding-inline: var(--basis-padding);
  overflow: hidden;
  display: block;
}

.article-heading {
  margin-top: calc(var(--basis-header-sp) - var(--basis-padding));
  margin-bottom: calc(var(--basis-header-sp));
}

article-zone {
  display: block;
}

article {
  max-width: var(--basis-min-width);
  margin: var(--basis-padding) auto;
  padding: var(--basis-padding);
  line-height: 1.4;

  sup:has(a[data-footnote-ref]) {
    vertical-align: 15%;
    margin-inline-start: 0.25em;
    position: relative;
    anchor-scope: --note;
    display: inline-flex;

    a {
      font-size: 0.6em;
      background: var(--color-text);
      text-decoration: none;
      padding-inline: 0.5em;
      color: var(--color-bg);
      border-radius: 100em 100em 100em 1px;
      display: inline-flex;
      anchor-name: --note;
    }

    a + div {
      position: fixed;
      z-index: 999999;
      translate: 0 0 1px;
      container-type: anchored;
      pointer-events: none;
      position-anchor: --note;
      position-area: span-top span-right;
      position-try: flip-block, flip-inline;

      div {
        background: var(--color-text);
        color: var(--color-bg);
        width: 30ch;
        transform: scale(0.2);
        opacity: 0;
        transition: all 0.125s ease-in-out;
        transform-origin: var(--footnote-pop-x, 0) var(--footnote-pop-y, 100%);
        margin: -0.1em;
        padding: 1em;
        border-radius: calc(var(--basis) * 0.25);
      }
    }

    &:hover,
    &:focus-within {
      a {
        opacity: 0;
      }
      a + div {
        pointer-events: all;
      }
      a + div div {
        transform: scale(1);
        opacity: 1;
      }
    }
  }

  img {
    max-width: var(--basis-img-width);
    margin: auto calc((100% - var(--basis-img-width)) / 2);
  }

  figure img {
    margin-bottom: 0;
  }

  figcaption {
    text-align: center;
    font-size: 0.8em;
  }

  /* stylelint-disable-next-line selector-type-no-unknown */
  date {
    display: block;
    font-size: 0.75rem;
    opacity: 0.75;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  hr {
    text-decoration-line: line-through;
    text-decoration-style: wavy;
    text-decoration-color: hsl(from currentcolor h s l / 50%);
    border: 0;
    display: block;
    margin: 1em 0;

    &::before {
      color: transparent;
      user-select: none;
      content: "------------------------------------------------------------------------------------";
      height: 1lh;
      overflow: hidden;
      display: block;
    }
  }

  blockquote {
    border-radius: calc(var(--basis) * 0.25);
    border: 1px dashed hsl(from var(--color-text) h s l / 5%);
    padding: calc(var(--basis-padding) * 0.5);
  }

  p,
  ul,
  ol,
  figure,
  blockquote,
  img,
  pre {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  b,
  strong {
    font-weight: 700;
  }

  em,
  i {
    font-style: italic;
  }

  /* stylelint-disable-next-line no-descending-specificity */
  a {
    color: var(--color-highlight);
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-style: wavy;
    text-decoration-color: hsl(from currentcolor h s l / 50%);

    &:hover {
      text-decoration-color: hsl(from currentcolor calc(h + 50) s l / 100%);
    }
  }

  del {
    text-decoration: line-through;
    text-decoration-thickness: 3px;
  }

  h1 {
    font-weight: 600;
    font-size: 3rem;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  pre {
    background: hsl(from var(--color-text) h s l / 5%);
    border-radius: calc(var(--basis) * 0.25);
    padding: calc(var(--basis) * 0.25);
    margin-left: calc(var(--basis) * -0.25);
    margin-right: calc(var(--basis) * -0.25);
    overflow-x: auto;
  }

  ol,
  ul {
    padding-left: calc(var(--basis) * 0.5);
  }

  li {
    list-style-position: outside;
    display: list-item;
    margin-bottom: 0.25em;
  }

  ol li {
    list-style-type: decimal;
  }

  ul li {
    list-style-type: disc;
  }
}
