.root a {
  padding: 0.5em 0.75em;
  display: inline-flex;
  border-radius: 2px;
  background: var(--fg);
  flex-direction: column;
  margin: 1vmin 0;
  transition: 0.25s;
  color: var(--bg);
  box-shadow: inset -4px 0 0 0 var(--pink);
  will-change: transform;
  contain: content;
}

.root a span {
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 0.5px;
  font-weight: 400;
}

.root a strong {
  font-size: 3em;
  font-weight: 700;
  line-height: 0.9;
  margin-left: -0.05em;
  color: var(--bg-dark);
}

.root a strong:after {
  content: "➜";
  font-size: 0.8em;
  margin-left: 1em;
}

.root a:hover,
.root a:focus {
  box-shadow: inset -1em 0 1em 0 var(--pink);
  background: var(--pink);
  transform: scale(1.05);
}

.root a:hover strong:after,
.root a:focus strong:after {
  transform: translateX(200px);
}
