.block {
  --bg: var(--lighter);
  --bg-dark: var(--light);
  --fg: var(--dark);
  --fg-light: var(--darker);
}
.block[data-inverted="true"] {
  --bg: var(--dark);
  --bg-dark: var(--darker);
  --fg: var(--light);
  --fg-light: var(--lighter);
}

.block {
  background-color: var(--bg-dark);
  color: var(--fg);
  contain: content;
  overflow: hidden;
  position: relative;
}

.block + .block {
  mask-image: linear-gradient(#fff, #fff), url(./squiggle.svg);
  mask-repeat: no-repeat, repeat no-repeat;
  mask-size: 100% 100%, auto 1.5em;
  mask-position: 0, -1px -1px;
  mask-composite: substract;
}
